In [10]:
import pandas as pd
import numpy as np

### Data Quality Checks

In [2]:
train = pd.read_csv('dataset/train.csv', index_col= None)
train.head()

,MONTH,TOWN,FLAT_TYPE,BLOCK,STREET,FLOOR_RANGE,FLOOR_AREA_SQM,FLAT_MODEL,ECO_CATEGORY,LEASE_COMMENCE_DATA,RESALE_PRICE
0,2020-10,woodlands,4 room,681B,woodlands drive 62,07 to 09,102.0,premium apartment,uncategorized,2000,420000.0
1,2021-07,bishan,4 room,264,bishan street 24,07 to 09,104.0,model a,uncategorized,1992,585000.0
2,2021-05,bukit panjang,4 room,520,jelapang road,19 to 21,102.0,model a,uncategorized,1998,450000.0
3,2021-08,punggol,4 room,121B,edgedale plains,16 to 18,93.0,model a,uncategorized,2017,465000.0
4,2023-05,hougang,5 room,997B,Buangkok Crescent,10 to 12,113.0,improved,uncategorized,2018,710000.0

In [3]:
train.info() # Check data types

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 162691 entries, 0 to 162690
Data columns (total 11 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   MONTH                162691 non-null  object
 1   TOWN                 162691 non-null  object
 2   FLAT_TYPE            162691 non-null  object
 3   BLOCK                162691 non-null  object
 4   STREET               162691 non-null  object
 5   FLOOR_RANGE          162691 non-null  object
 6   FLOOR_AREA_SQM       162691 non-null  float64
 7   FLAT_MODEL           162691 non-null  object
 8   ECO_CATEGORY         162691 non-null  object
 9   LEASE_COMMENCE_DATA  162691 non-null  int64
 10  RESALE_PRICE         162691 non-null  float64
dtypes: float64(2), int64(1), object(8)
memory usage: 13.7+ MB

In [4]:
train.isnull().sum() # check null values

MONTH                  0
TOWN                   0
FLAT_TYPE              0
BLOCK                  0
STREET                 0
FLOOR_RANGE            0
FLOOR_AREA_SQM         0
FLAT_MODEL             0
ECO_CATEGORY           0
LEASE_COMMENCE_DATA    0
RESALE_PRICE           0
dtype: int64

In [5]:
train[train.duplicated(keep=False)].sort_values(by=list(train.columns)) # check duplicate rows

,MONTH,TOWN,FLAT_TYPE,BLOCK,STREET,FLOOR_RANGE,FLOOR_AREA_SQM,FLAT_MODEL,ECO_CATEGORY,LEASE_COMMENCE_DATA,RESALE_PRICE
60807,2017-01,bukit merah,4-room,106,Henderson Crescent,07 to 09,81.0,improved,uncategorized,1975,470000.0
141911,2017-01,bukit merah,4-room,106,Henderson Crescent,07 to 09,81.0,improved,uncategorized,1975,470000.0
7243,2017-01,jurong east,4-room,265,toh guan road,04 to 06,101.0,model a,uncategorized,1998,470000.0
51572,2017-01,jurong east,4-room,265,toh guan road,04 to 06,101.0,model a,uncategorized,1998,470000.0
140072,2017-01,punggol,4-room,601C,punggol central,13 to 15,94.0,model a,uncategorized,2012,470000.0
...,...,...,...,...,...,...,...,...,...,...,...
28199,2025-04,sembawang,4 room,103B,canberra street,04 to 06,93.0,model a,uncategorized,2020,610000.0
89937,2025-04,sembawang,4 room,103B,canberra street,04 to 06,93.0,model a,uncategorized,2020,610000.0
141318,2025-04,sembawang,4 room,103B,canberra street,04 to 06,93.0,model a,uncategorized,2020,610000.0
75640,2025-05,hougang,4 room,994C,Buangkok Link,10 to 12,93.0,model a,uncategorized,2021,675000.0
94220,2025-05,hougang,4 room,994C,Buangkok Link,10 to 12,93.0,model a,uncategorized,2021,675000.0

In [6]:
train.drop_duplicates(keep='first', inplace=True)

In [7]:
# Split 'MONTH' into 'YEAR' and 'MONTH' columns as integers
train[['YEAR', 'MONTH']] = train['MONTH'].str.split('-', expand=True).astype(int)
train.head()

,MONTH,TOWN,FLAT_TYPE,BLOCK,STREET,FLOOR_RANGE,FLOOR_AREA_SQM,FLAT_MODEL,ECO_CATEGORY,LEASE_COMMENCE_DATA,RESALE_PRICE,YEAR
0,10,woodlands,4 room,681B,woodlands drive 62,07 to 09,102.0,premium apartment,uncategorized,2000,420000.0,2020
1,7,bishan,4 room,264,bishan street 24,07 to 09,104.0,model a,uncategorized,1992,585000.0,2021
2,5,bukit panjang,4 room,520,jelapang road,19 to 21,102.0,model a,uncategorized,1998,450000.0,2021
3,8,punggol,4 room,121B,edgedale plains,16 to 18,93.0,model a,uncategorized,2017,465000.0,2021
4,5,hougang,5 room,997B,Buangkok Crescent,10 to 12,113.0,improved,uncategorized,2018,710000.0,2023

In [8]:
train[(train['YEAR'] == 2025) & (train['MONTH'] > 8)] # check for invalid dates

Empty DataFrame
Columns: [MONTH, TOWN, FLAT_TYPE, BLOCK, STREET, FLOOR_RANGE, FLOOR_AREA_SQM, FLAT_MODEL, ECO_CATEGORY, LEASE_COMMENCE_DATA, RESALE_PRICE, YEAR]
Index: []

In [9]:
train.value_counts(['FLAT_TYPE']) # inconsistent format of 'FLAT_TYPE'

FLAT_TYPE
4 room              48430
5 room              27903
3 room              26690
4-room              20372
5-room              12152
3-room              11899
executive           11797
2 room               2502
2-room                700
multi generation       68
1 room                 37
1-room                 20
Name: count, dtype: int64

In [10]:
train['FLAT_TYPE'] = train['FLAT_TYPE'].str.replace('-', ' ', regex=False)
train.value_counts(['FLAT_TYPE'])

FLAT_TYPE
4 room              68802
5 room              40055
3 room              38589
executive           11797
2 room               3202
multi generation       68
1 room                 57
Name: count, dtype: int64

In [11]:
train.value_counts(['FLAT_MODEL'])

FLAT_MODEL
model a                   57873
improved                  39773
new generation            19894
premium apartment         18095
simplified                 6174
apartment                  5891
maisonette                 4523
standard                   4363
dbss                       2604
model a2                   1860
adjoined flat               290
model a maisonette          281
type s1                     272
2 room                      225
type s2                     133
premium apartment loft       91
terrace                      85
multi generation             68
3gen                         41
improved maisonette          21
premium maisonette           13
Name: count, dtype: int64

In [12]:
train.value_counts('ECO_CATEGORY')

ECO_CATEGORY
uncategorized    162570
Name: count, dtype: int64

In [13]:
train.drop(columns=['ECO_CATEGORY'], inplace=True)

In [14]:
train['FLAT_AGE'] = train['YEAR'] - train['LEASE_COMMENCE_DATA']

In [15]:
# outlier detection
Q1 = train['FLOOR_AREA_SQM'].quantile(0.25)
Q3 = train['FLOOR_AREA_SQM'].quantile(0.75)
IQR = Q3 - Q1

# Define bounds
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Get outliers
outliers = train[(train['FLOOR_AREA_SQM'] < lower_bound) | (train['FLOOR_AREA_SQM'] > upper_bound)]
outliers.sort_values(by='FLOOR_AREA_SQM')

,MONTH,TOWN,FLAT_TYPE,BLOCK,STREET,FLOOR_RANGE,FLOOR_AREA_SQM,FLAT_MODEL,LEASE_COMMENCE_DATA,RESALE_PRICE,YEAR,FLAT_AGE
160530,3,bukit merah,1 room,7,telok blangah crescent,01 to 03,31.0,improved,1975,160000.0,2020,45
158394,11,bukit merah,1 room,7,telok blangah crescent,04 to 06,31.0,improved,1975,233888.0,2022,47
4509,10,bukit merah,1 room,7,telok blangah crescent,01 to 03,31.0,improved,1975,243000.0,2023,48
137346,6,bukit merah,1 room,7,telok blangah crescent,04 to 06,31.0,improved,1975,180000.0,2020,45
137664,3,bukit merah,1 room,7,Telok Blangah Crescent,07 to 09,31.0,improved,1975,228000.0,2022,47
...,...,...,...,...,...,...,...,...,...,...,...,...
114445,6,kallang/whampoa,3 room,38,jalan bahagia,01 to 03,215.0,terrace,1972,830000.0,2017,45
70243,3,bishan,executive,446,bright hill drive,07 to 09,243.0,maisonette,1990,1092888.0,2021,31
81698,4,bishan,executive,454,sin ming avenue,10 to 12,243.0,maisonette,1989,1001000.0,2021,32
58768,12,kallang/whampoa,3 room,65,jalan ma'mor,01 to 03,249.0,terrace,1972,1053888.0,2017,45
123205,7,kallang/whampoa,3 room,53,Jalan Ma'Mor,01 to 03,366.7,terrace,1972,1568000.0,2024,52

In [16]:
Q1 = train['RESALE_PRICE'].quantile(0.25)
Q3 = train['RESALE_PRICE'].quantile(0.75)
IQR = Q3 - Q1

# Define bounds
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Get outliers
outliers = train[(train['RESALE_PRICE'] < lower_bound) | (train['RESALE_PRICE'] > upper_bound)]
outliers.sort_values(by='RESALE_PRICE')

,MONTH,TOWN,FLAT_TYPE,BLOCK,STREET,FLOOR_RANGE,FLOOR_AREA_SQM,FLAT_MODEL,LEASE_COMMENCE_DATA,RESALE_PRICE,YEAR,FLAT_AGE
27359,12,toa payoh,4 room,264,toa payoh east,10 to 12,93.0,model a,2019,982666.0,2024,5
112905,6,pasir ris,5 room,530D,Pasir Ris Drive 1,10 to 12,105.0,dbss,2015,982800.0,2024,9
140787,2,queenstown,4 room,78,dawson road,04 to 06,88.0,model a,2020,982800.0,2025,5
48377,3,bedok,executive,721,bedok reservoir road,16 to 18,148.0,maisonette,1984,982888.0,2025,41
111447,3,bukit merah,4 room,90B,Telok Blangah Street 31,25 to 27,93.0,model a,2018,983000.0,2025,7
...,...,...,...,...,...,...,...,...,...,...,...,...
99076,9,bukit merah,5 room,126A,Kim Tian Road,40 to 42,113.0,improved,2013,1580000.0,2024,11
112960,6,bukit merah,5 room,96A,henderson road,46 to 48,113.0,improved,2019,1588000.0,2024,5
56718,6,bukit merah,5 room,9B,Boon Tiong Road,34 to 36,112.0,improved,2016,1588000.0,2024,8
122553,7,bishan,executive,194,Bishan Street 13,22 to 24,163.0,maisonette,1987,1588000.0,2025,38
105955,6,queenstown,5 room,92,dawson road,22 to 24,122.0,premium apartment loft,2016,1658888.0,2025,9

### Data Preprocessing (Run This)

In [16]:
def data_cleaning(train):
    # split 'MONTH' column into 'YEAR' and 'MONTH' columns
    train[['YEAR', 'MONTH']] = train['MONTH'].str.split('-', expand=True).astype(int)
    # ensure consistent formatting in 'FLAT_TYPE' column
    train['FLAT_TYPE'] = train['FLAT_TYPE'].str.replace('-', ' ', regex=False)
    # drop 'ECO_CATEGORY' column as it has the same value for all rows
    train.drop(columns=['ECO_CATEGORY'], inplace=True)
    # create 'FLAT_AGE' column and drop 'LEASE_COMMENCE_DATA' column
    train['FLAT_AGE'] = train['YEAR'] - train['LEASE_COMMENCE_DATA']
    train.drop(columns=['LEASE_COMMENCE_DATA'], inplace=True)
    return train

def merge_hdb_info(train, hdb_info):
    train[['BLOCK', 'STREET']] = train[['BLOCK', 'STREET']].apply(lambda x: x.str.lower())
    hdb_info[['BLOCK', 'ADDRESS']] = hdb_info[['BLOCK', 'ADDRESS']].apply(lambda x: x.str.lower())
    train_merge = train.merge(hdb_info, 
                          how='left', 
                          left_on=['BLOCK', 'STREET'], 
                          right_on=['BLOCK', 'ADDRESS'],
                          indicator=True,
                          suffixes=('', '_HDB'))
    train_merge.drop(columns=['BLOCK', 'STREET', 'TOWN_HDB', 'ADDRESS', 'POSTAL_CODE', '_merge'], inplace=True)
    return train_merge

In [17]:
train = pd.read_csv('dataset/train.csv', index_col= None)
train.drop_duplicates(keep='first', inplace=True) # only drop duplicates in training set
test = pd.read_csv('dataset/test.csv', index_col= None)
hdb_info = pd.read_csv('dataset/auxiliary-data/sg-hdb-block-details.csv', index_col=None)
cleaned_train = data_cleaning(train)
cleaned_test = data_cleaning(test)
merged_train = merge_hdb_info(cleaned_train, hdb_info)
merged_train.to_csv('merged_train.csv', index=False)
merged_test = merge_hdb_info(cleaned_test, hdb_info)
merged_test.to_csv('merged_test.csv', index=False)

In [18]:
merged_train.shape,merged_test.shape

((162570, 15), (50000, 14))

Feature engineering

In [25]:
hawkers = pd.read_csv("./dataset/auxiliary-data/sg-gov-hawkers.csv")
mrt = pd.read_csv("./dataset/auxiliary-data/sg-mrt-stations.csv")
primary = pd.read_csv("./dataset/auxiliary-data/sg-primary-schools.csv")
secondary = pd.read_csv("./dataset/auxiliary-data/sg-secondary-schools.csv")
malls = pd.read_csv("./dataset/auxiliary-data/sg-shopping-malls.csv")
hawkers.shape, mrt.shape, primary.shape, secondary.shape, malls.shape

((107, 7), (243, 8), (182, 8), (153, 8), (89, 8))

Because one MRT station can have more than one code, this causes duplicates in mrt data. When calculating counts of mrts, this leads to duplicates. Here we only consider open MRT stations and no duplicates.

In [26]:
# Filter for STATUS = 'open'
mrt_open = mrt[mrt["STATUS"] == "open"]

# Keep only NAME, LATITUDE, LONGITUDE
mrt_open = mrt_open[["NAME", "LATITUDE", "LONGITUDE"]]

# Remove duplicates
mrt_open = mrt_open.drop_duplicates().reset_index(drop=True)

mrt_open.shape

(144, 3)

In [27]:
from sklearn.neighbors import BallTree

R = 6371.0  # Earth radius (km)

def force_numeric(df, lat_col="LATITUDE", lon_col="LONGITUDE"):
    df = df.copy()
    df[lat_col] = pd.to_numeric(df[lat_col], errors="coerce")
    df[lon_col] = pd.to_numeric(df[lon_col], errors="coerce")
    return df

def coord_summary(df, name, lat_col="LATITUDE", lon_col="LONGITUDE"):
    print(f"--- {name} --- shape={df.shape}")
    print("lat min/max:", df[lat_col].min(), df[lat_col].max())
    print("lon min/max:", df[lon_col].min(), df[lon_col].max())
    print(df[[lat_col, lon_col]].head(3).to_string(index=False))
    print()

In [ ]:
# ---------------------------
# 1) Force numeric & quick sanity checks
train_df = force_numeric(merged_train) 
test_df = force_numeric(merged_test)   
mrt_df = force_numeric(mrt_open)
hawkers_df = force_numeric(hawkers)
primary_df = force_numeric(primary)
secondary_df = force_numeric(secondary)
malls_df = force_numeric(malls)

coord_summary(test_df, "train")
coord_summary(test_df, "test")
coord_summary(hawkers_df, "hawkers")
coord_summary(mrt_df, "mrt")
coord_summary(primary_df, "primary")
coord_summary(secondary_df, "secondary")
coord_summary(malls_df, "malls")

--- train --- shape=(50000, 20)
lat min/max: 1.27038 1.457071
lon min/max: 103.685228 103.987805
 LATITUDE  LONGITUDE
 1.445544 103.828992
 1.281420 103.825645
 1.357284 103.839397

--- test --- shape=(50000, 20)
lat min/max: 1.27038 1.457071
lon min/max: 103.685228 103.987805
 LATITUDE  LONGITUDE
 1.445544 103.828992
 1.281420 103.825645
 1.357284 103.839397

--- hawkers --- shape=(107, 7)
lat min/max: 1.272761 1.443444
lon min/max: 103.712801 103.988092
 LATITUDE  LONGITUDE
 1.324160 103.814166
 1.281278 103.847032
 1.320350 103.955478

--- mrt --- shape=(144, 3)
lat min/max: 1.265278 1.449025
lon min/max: 103.636806 103.988333
 LATITUDE  LONGITUDE
 1.440689 103.800933
 1.316442 103.882981
 1.370017 103.849450

--- primary --- shape=(182, 8)
lat min/max: 1.274958 1.456608
lon min/max: 103.68777 103.962807
 LATITUDE  LONGITUDE
 1.442635 103.800040
 1.433153 103.832942
 1.360583 103.833020

--- secondary --- shape=(153, 8)
lat min/max: 1.275352 1.453191
lon min/max: 103.68731 103.962763
 LATITUDE  LONGITUDE
 1.445891 103.802398
 1.436060 103.829719
 1.374340 103.851554

--- malls --- shape=(89, 8)
lat min/max: 1.26397 1.448195
lon min/max: 103.697175 103.989078
 LATITUDE  LONGITUDE
 1.299113 103.855411
 1.298141 103.855635
 1.293079 103.851262

In [29]:
# Quick check: latitudes in Singapore ~ 1.2-1.5, longitudes ~103.6-104.0
def check_singapore_range(df, name):
    lat_min, lat_max = df['LATITUDE'].min(), df['LATITUDE'].max()
    lon_min, lon_max = df['LONGITUDE'].min(), df['LONGITUDE'].max()
    if lat_max > 90 or lon_min < -180 or lon_max > 180:
        print(f"WARNING: {name} has coords outside normal lon/lat ranges — maybe swapped or invalid.")
    if not (0 < lat_min < 5 and 100 < lon_min < 110):
        print(f"NOTE: {name} coords not in typical Singapore ranges (lat ~1.x, lon ~103.x).")

check_singapore_range(train_df, "test")
check_singapore_range(test_df, "test")
check_singapore_range(hawkers_df, "hawkers")
check_singapore_range(mrt_df, "mrt")
check_singapore_range(primary_df, "primary")
check_singapore_range(secondary_df, "secondary")
check_singapore_range(malls_df, "malls")

In [30]:
def dedupe_poi(df_poi):
    # drop exact duplicate rows first
    before = len(df_poi)
    df_poi = df_poi.drop_duplicates(subset=["NAME","LATITUDE","LONGITUDE"])
    # drop rows with missing coords
    df_poi = df_poi.dropna(subset=["LATITUDE","LONGITUDE"])
    after = len(df_poi)
    print(f"Deduped POI: {before} -> {after}")
    # also show lat/lon duplicates (rounded)
    df_poi['lat_r'] = df_poi['LATITUDE'].round(6)
    df_poi['lon_r'] = df_poi['LONGITUDE'].round(6)
    dup = df_poi[df_poi.duplicated(subset=['lat_r','lon_r'], keep=False)]
    if not dup.empty:
        print("Found duplicate coords (rounded):")
        print(dup[['NAME','LATITUDE','LONGITUDE']].head(10).to_string(index=False))
    df_poi = df_poi.drop(columns=['lat_r','lon_r'])
    return df_poi

In [31]:
# 2) Deduplicate POIs (important!)
mrt_df = dedupe_poi(mrt_df)
hawkers_df = dedupe_poi(hawkers_df)
primary_df = dedupe_poi(primary_df)
secondary_df = dedupe_poi(secondary_df)
malls_df = dedupe_poi(malls_df)

Deduped POI: 144 -> 144
Deduped POI: 107 -> 107
Found duplicate coords (rounded):
                         NAME  LATITUDE  LONGITUDE
    Market Street Food Centre  1.349657 103.718444
Blk 505 Jurong West Street 52  1.349657 103.718444
Deduped POI: 182 -> 182
Found duplicate coords (rounded):
                                        NAME  LATITUDE  LONGITUDE
           Methodist Girls' School (Primary)  1.349473 103.884971
Paya Lebar Methodist Girls' School (Primary)  1.349473 103.884971
      St. Anthony's Canossian Primary School  1.334725 103.941235
                St. Anthony's Primary School  1.334725 103.941235
Deduped POI: 153 -> 153
Found duplicate coords (rounded):
                                          NAME  LATITUDE  LONGITUDE
           Methodist Girls' School (Secondary)  1.350968  103.88512
Paya Lebar Methodist Girls' School (Secondary)  1.350968  103.88512
Deduped POI: 89 -> 89
Found duplicate coords (rounded):
  NAME  LATITUDE  LONGITUDE
Bugis+  1.298141 103.855635
 JCube  1.298141 103.855635

In [32]:
# 3) Generic function to compute nearest distance and counts using BallTree
def compute_nearest_and_counts(addr_df, poi_df, name, radius_km=1.0):
    # ensure no NaNs remain
    poi_df = poi_df.dropna(subset=["LATITUDE","LONGITUDE"]).reset_index(drop=True)
    addr_df = addr_df.copy().reset_index(drop=True)

    poi_coords = np.radians(poi_df[["LATITUDE","LONGITUDE"]].values.astype(float))
    addr_coords = np.radians(addr_df[["LATITUDE","LONGITUDE"]].values.astype(float))

    if len(poi_coords) == 0:
        addr_df[f"dist_{name}"] = np.nan
        addr_df[f"count_{name}"] = 0
        return addr_df

    tree = BallTree(poi_coords, metric="haversine")
    # nearest distance (radians -> km)
    dists_rad, inds = tree.query(addr_coords, k=1)
    nearest_km = (dists_rad[:,0] * R)

    # counts within radius (radius must be converted to radians)
    radius_rad = radius_km / R
    counts = tree.query_radius(addr_coords, r=radius_rad, count_only=True)

    addr_df[f"DIST_{name}"] = nearest_km
    addr_df[f"COUNT_{name}"] = counts.astype(int)
    return addr_df, tree, poi_df

In [33]:
# 4) Run for all POI types and merge
poi_dict = {
    "HAWKER": hawkers_df,
    "MRT": mrt_df,
    "PRIM": primary_df,
    "SEC": secondary_df,
    "MALL": malls_df
}

In [34]:
train_amens = train_df.copy()
for nm, poi in poi_dict.items():
    train_amens, _, _ = compute_nearest_and_counts(train_amens, poi, nm, radius_km=1.0)

In [35]:
test_amens = test_df.copy()
for nm, poi in poi_dict.items():
    test_amens, _, _ = compute_nearest_and_counts(test_amens, poi, nm, radius_km=1.0)

In [37]:
train_amens.shape, test_amens.shape

((162570, 25), (50000, 30))

In [36]:
train_amens.to_csv('train_amens.csv')
test_amens.to_csv('test_amens.csv')