In [1]:
import pandas as pd
import numpy as np

In [ ]:
train = pd.read_csv('dataset/train.csv', index_col= None)
train.head()

,MONTH,TOWN,FLAT_TYPE,BLOCK,STREET,FLOOR_RANGE,FLOOR_AREA_SQM,FLAT_MODEL,ECO_CATEGORY,LEASE_COMMENCE_DATA,RESALE_PRICE
0,2020-10,woodlands,4 room,681B,woodlands drive 62,07 to 09,102.0,premium apartment,uncategorized,2000,420000.0
1,2021-07,bishan,4 room,264,bishan street 24,07 to 09,104.0,model a,uncategorized,1992,585000.0
2,2021-05,bukit panjang,4 room,520,jelapang road,19 to 21,102.0,model a,uncategorized,1998,450000.0
3,2021-08,punggol,4 room,121B,edgedale plains,16 to 18,93.0,model a,uncategorized,2017,465000.0
4,2023-05,hougang,5 room,997B,Buangkok Crescent,10 to 12,113.0,improved,uncategorized,2018,710000.0

In [20]:
train.info() # Check data types

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 162691 entries, 0 to 162690
Data columns (total 11 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   MONTH                162691 non-null  object
 1   TOWN                 162691 non-null  object
 2   FLAT_TYPE            162691 non-null  object
 3   BLOCK                162691 non-null  object
 4   STREET               162691 non-null  object
 5   FLOOR_RANGE          162691 non-null  object
 6   FLOOR_AREA_SQM       162691 non-null  float64
 7   FLAT_MODEL           162691 non-null  object
 8   ECO_CATEGORY         162691 non-null  object
 9   LEASE_COMMENCE_DATA  162691 non-null  int64
 10  RESALE_PRICE         162691 non-null  float64
dtypes: float64(2), int64(1), object(8)
memory usage: 13.7+ MB

In [21]:
train.isnull().sum() # check null values

MONTH                  0
TOWN                   0
FLAT_TYPE              0
BLOCK                  0
STREET                 0
FLOOR_RANGE            0
FLOOR_AREA_SQM         0
FLAT_MODEL             0
ECO_CATEGORY           0
LEASE_COMMENCE_DATA    0
RESALE_PRICE           0
dtype: int64

In [22]:
train[train.duplicated(keep=False)].sort_values(by=list(train.columns)) # check duplicate rows

,MONTH,TOWN,FLAT_TYPE,BLOCK,STREET,FLOOR_RANGE,FLOOR_AREA_SQM,FLAT_MODEL,ECO_CATEGORY,LEASE_COMMENCE_DATA,RESALE_PRICE
60807,2017-01,bukit merah,4-room,106,Henderson Crescent,07 to 09,81.0,improved,uncategorized,1975,470000.0
141911,2017-01,bukit merah,4-room,106,Henderson Crescent,07 to 09,81.0,improved,uncategorized,1975,470000.0
7243,2017-01,jurong east,4-room,265,toh guan road,04 to 06,101.0,model a,uncategorized,1998,470000.0
51572,2017-01,jurong east,4-room,265,toh guan road,04 to 06,101.0,model a,uncategorized,1998,470000.0
140072,2017-01,punggol,4-room,601C,punggol central,13 to 15,94.0,model a,uncategorized,2012,470000.0
...,...,...,...,...,...,...,...,...,...,...,...
28199,2025-04,sembawang,4 room,103B,canberra street,04 to 06,93.0,model a,uncategorized,2020,610000.0
89937,2025-04,sembawang,4 room,103B,canberra street,04 to 06,93.0,model a,uncategorized,2020,610000.0
141318,2025-04,sembawang,4 room,103B,canberra street,04 to 06,93.0,model a,uncategorized,2020,610000.0
75640,2025-05,hougang,4 room,994C,Buangkok Link,10 to 12,93.0,model a,uncategorized,2021,675000.0
94220,2025-05,hougang,4 room,994C,Buangkok Link,10 to 12,93.0,model a,uncategorized,2021,675000.0

In [23]:
train.drop_duplicates(keep='first', inplace=True)

In [24]:
# Split 'MONTH' into 'YEAR' and 'MONTH' columns as integers
train[['YEAR', 'MONTH']] = train['MONTH'].str.split('-', expand=True).astype(int)
train.head()

,MONTH,TOWN,FLAT_TYPE,BLOCK,STREET,FLOOR_RANGE,FLOOR_AREA_SQM,FLAT_MODEL,ECO_CATEGORY,LEASE_COMMENCE_DATA,RESALE_PRICE,YEAR
0,10,woodlands,4 room,681B,woodlands drive 62,07 to 09,102.0,premium apartment,uncategorized,2000,420000.0,2020
1,7,bishan,4 room,264,bishan street 24,07 to 09,104.0,model a,uncategorized,1992,585000.0,2021
2,5,bukit panjang,4 room,520,jelapang road,19 to 21,102.0,model a,uncategorized,1998,450000.0,2021
3,8,punggol,4 room,121B,edgedale plains,16 to 18,93.0,model a,uncategorized,2017,465000.0,2021
4,5,hougang,5 room,997B,Buangkok Crescent,10 to 12,113.0,improved,uncategorized,2018,710000.0,2023

In [33]:
train[(train['YEAR'] == 2025) & (train['MONTH'] > 8)] # check for invalid dates

Empty DataFrame
Columns: [MONTH, TOWN, FLAT_TYPE, BLOCK, STREET, FLOOR_RANGE, FLOOR_AREA_SQM, FLAT_MODEL, ECO_CATEGORY, LEASE_COMMENCE_DATA, RESALE_PRICE, YEAR]
Index: []

In [ ]:
train.value_counts(['FLAT_TYPE']) # inconsistent format of 'FLAT_TYPE'

FLAT_TYPE
4 room              48430
5 room              27903
3 room              26690
4-room              20372
5-room              12152
3-room              11899
executive           11797
2 room               2502
2-room                700
multi generation       68
1 room                 37
1-room                 20
Name: count, dtype: int64

In [35]:
train['FLAT_TYPE'] = train['FLAT_TYPE'].str.replace('-', ' ', regex=False)
train.value_counts(['FLAT_TYPE'])

FLAT_TYPE
4 room              68802
5 room              40055
3 room              38589
executive           11797
2 room               3202
multi generation       68
1 room                 57
Name: count, dtype: int64

In [46]:
train.value_counts(['FLAT_MODEL'])

FLAT_MODEL
model a                   57873
improved                  39773
new generation            19894
premium apartment         18095
simplified                 6174
apartment                  5891
maisonette                 4523
standard                   4363
dbss                       2604
model a2                   1860
adjoined flat               290
model a maisonette          281
type s1                     272
2 room                      225
type s2                     133
premium apartment loft       91
terrace                      85
multi generation             68
3gen                         41
improved maisonette          21
premium maisonette           13
Name: count, dtype: int64

In [47]:
train.value_counts('ECO_CATEGORY')

ECO_CATEGORY
uncategorized    162570
Name: count, dtype: int64

In [48]:
train.drop(columns=['ECO_CATEGORY'], inplace=True)

In [52]:
train['FLAT_AGE'] = train['YEAR'] - train['LEASE_COMMENCE_DATA']

In [ ]:
# outlier detection
Q1 = train['FLOOR_AREA_SQM'].quantile(0.25)
Q3 = train['FLOOR_AREA_SQM'].quantile(0.75)
IQR = Q3 - Q1

# Define bounds
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Get outliers
outliers = train[(train['FLOOR_AREA_SQM'] < lower_bound) | (train['FLOOR_AREA_SQM'] > upper_bound)]
outliers.sort_values(by='FLOOR_AREA_SQM')

,MONTH,TOWN,FLAT_TYPE,FLOOR_RANGE,FLOOR_AREA_SQM,FLAT_MODEL,ECO_CATEGORY,LEASE_COMMENCE_DATA,RESALE_PRICE,YEAR,ADDRESS
91712,7,bukit merah,1 room,04 to 06,31.0,improved,uncategorized,1975,175000.0,2017,7 telok blangah crescent
102807,4,bukit merah,1 room,07 to 09,31.0,improved,uncategorized,1975,240000.0,2024,7 telok blangah crescent
137346,6,bukit merah,1 room,04 to 06,31.0,improved,uncategorized,1975,180000.0,2020,7 telok blangah crescent
137664,3,bukit merah,1 room,07 to 09,31.0,improved,uncategorized,1975,228000.0,2022,7 telok blangah crescent
34052,7,bukit merah,1 room,01 to 03,31.0,improved,uncategorized,1975,245000.0,2024,7 telok blangah crescent
...,...,...,...,...,...,...,...,...,...,...,...
114445,6,kallang/whampoa,3 room,01 to 03,215.0,terrace,uncategorized,1972,830000.0,2017,38 jalan bahagia
70243,3,bishan,executive,07 to 09,243.0,maisonette,uncategorized,1990,1092888.0,2021,446 bright hill drive
81698,4,bishan,executive,10 to 12,243.0,maisonette,uncategorized,1989,1001000.0,2021,454 sin ming avenue
58768,12,kallang/whampoa,3 room,01 to 03,249.0,terrace,uncategorized,1972,1053888.0,2017,65 jalan ma'mor
123205,7,kallang/whampoa,3 room,01 to 03,366.7,terrace,uncategorized,1972,1568000.0,2024,53 jalan ma'mor

In [53]:
Q1 = train['RESALE_PRICE'].quantile(0.25)
Q3 = train['RESALE_PRICE'].quantile(0.75)
IQR = Q3 - Q1

# Define bounds
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Get outliers
outliers = train[(train['RESALE_PRICE'] < lower_bound) | (train['RESALE_PRICE'] > upper_bound)]
outliers.sort_values(by='RESALE_PRICE')

,MONTH,TOWN,FLAT_TYPE,FLOOR_RANGE,FLOOR_AREA_SQM,FLAT_MODEL,LEASE_COMMENCE_DATA,RESALE_PRICE,YEAR,ADDRESS,FLAT_AGE
27359,12,toa payoh,4 room,10 to 12,93.0,model a,2019,982666.0,2024,264 toa payoh east,5
112905,6,pasir ris,5 room,10 to 12,105.0,dbss,2015,982800.0,2024,530d pasir ris drive 1,9
140787,2,queenstown,4 room,04 to 06,88.0,model a,2020,982800.0,2025,78 dawson road,5
48377,3,bedok,executive,16 to 18,148.0,maisonette,1984,982888.0,2025,721 bedok reservoir road,41
72741,1,bukit timah,5 room,19 to 21,120.0,standard,1974,983000.0,2024,1 queen's road,50
...,...,...,...,...,...,...,...,...,...,...,...
99076,9,bukit merah,5 room,40 to 42,113.0,improved,2013,1580000.0,2024,126a kim tian road,11
112960,6,bukit merah,5 room,46 to 48,113.0,improved,2019,1588000.0,2024,96a henderson road,5
122553,7,bishan,executive,22 to 24,163.0,maisonette,1987,1588000.0,2025,194 bishan street 13,38
56718,6,bukit merah,5 room,34 to 36,112.0,improved,2016,1588000.0,2024,9b boon tiong road,8
105955,6,queenstown,5 room,22 to 24,122.0,premium apartment loft,2016,1658888.0,2025,92 dawson road,9

In [ ]:
train = pd.read_csv('dataset/train.csv', index_col= None)
train.drop_duplicates(keep='first', inplace=True)
train[['YEAR', 'MONTH']] = train['MONTH'].str.split('-', expand=True).astype(int)
train['FLAT_TYPE'] = train['FLAT_TYPE'].str.replace('-', ' ', regex=False)
train.drop(columns=['ECO_CATEGORY'], inplace=True)
train['FLAT_AGE'] = train['YEAR'] - train['LEASE_COMMENCE_DATA']
train.drop(columns=['LEASE_COMMENCE_DATA'], inplace=True)

In [ ]:
hdb_info = pd.read_csv('dataset/auxiliary-data/sg-hdb-block-details.csv', index_col=None)
hdb_info.head()

,TOWN,BLOCK,ADDRESS,POSTAL_CODE,LATITUDE,LONGITUDE,MAX_FLOOR,SUBZONE,PLANNING_AREA,REGION
0,woodlands,205,marsiling drive,730205,1.444946,103.773484,14,north coast,woodlands,north region
1,clementi,506,west coast drive,120506,1.312517,103.760867,12,clementi central,clementi,west region
2,sengkang,267B,compassvale link,542267,1.383200,103.897433,17,compassvale,sengkang,north-east region
3,woodlands,521,woodlands drive 14,730521,1.433716,103.793326,12,woodlands south,woodlands,north region
4,pasir ris,531,pasir ris drive 1,510531,1.371362,103.950398,8,pasir ris central,pasir ris,east region

In [76]:
train[['BLOCK', 'STREET']] = train[['BLOCK', 'STREET']].apply(lambda x: x.str.lower())
hdb_info[['BLOCK', 'ADDRESS']] = hdb_info[['BLOCK', 'ADDRESS']].apply(lambda x: x.str.lower())

In [77]:
train_merge = train.merge(hdb_info, 
                          how='left', 
                          left_on=['BLOCK', 'STREET'], 
                          right_on=['BLOCK', 'ADDRESS'],
                          indicator=True,
                          suffixes=('', '_HDB'))
train_merge[train_merge['_merge'] == 'left_only'] # check any unmatched rows

Empty DataFrame
Columns: [MONTH, TOWN, FLAT_TYPE, BLOCK, STREET, FLOOR_RANGE, FLOOR_AREA_SQM, FLAT_MODEL, RESALE_PRICE, YEAR, FLAT_AGE, TOWN_HDB, ADDRESS, POSTAL_CODE, LATITUDE, LONGITUDE, MAX_FLOOR, SUBZONE, PLANNING_AREA, REGION, _merge]
Index: []

[0 rows x 21 columns]

In [78]:
train_merge[train_merge['TOWN']!= train_merge['TOWN_HDB']] # check any mismatched towns

Empty DataFrame
Columns: [MONTH, TOWN, FLAT_TYPE, BLOCK, STREET, FLOOR_RANGE, FLOOR_AREA_SQM, FLAT_MODEL, RESALE_PRICE, YEAR, FLAT_AGE, TOWN_HDB, ADDRESS, POSTAL_CODE, LATITUDE, LONGITUDE, MAX_FLOOR, SUBZONE, PLANNING_AREA, REGION, _merge]
Index: []

[0 rows x 21 columns]

In [ ]:
train_merge.drop(columns=['BLOCK', 'STREET', 'TOWN_HDB', 'ADDRESS', 'POSTAL_CODE', '_merge'], inplace=True)

In [ ]:
test = pd.read_csv('dataset/test.csv', index_col= None)
test[['BLOCK', 'STREET']] = test[['BLOCK', 'STREET']].apply(lambda x: x.str.lower())
test_merge = test.merge(hdb_info, 
                          how='left', 
                          left_on=['BLOCK', 'STREET'], 
                          right_on=['BLOCK', 'ADDRESS'],
                          indicator=True,
                          suffixes=('', '_HDB'))
test_merge[test_merge['_merge'] == 'left_only'] # check any unmatched rows

Empty DataFrame
Columns: [MONTH, TOWN, FLAT_TYPE, BLOCK, STREET, FLOOR_RANGE, FLOOR_AREA_SQM, FLAT_MODEL, ECO_CATEGORY, LEASE_COMMENCE_DATA, TOWN_HDB, ADDRESS, POSTAL_CODE, LATITUDE, LONGITUDE, MAX_FLOOR, SUBZONE, PLANNING_AREA, REGION, _merge]
Index: []